node_modules/
dist/
build/
.env
.env.*
!.env.example
*.log
uploads/*
!uploads/.gitkeep
!uploads/students/
!uploads/students/.gitkeep
client/node_modules/
client/dist/
server/node_modules/
server/dist/
server/generated/
server/uploads/*
!server/uploads/.gitkeep
!server/uploads/students/
!server/uploads/students/.gitkeep
